*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    background: radial-gradient( ellipse at 75% 40%, #ededed 0%, #FFDDA3 63%, #FFD895 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Poppins', sans-serif;

}
.Plot{
position: relative;
display: inline-block; 

top: 20px;
left: 90px;
 color: #0b2310;
text-decoration: none;
font-size: 20px;
font-weight: 400;
letter-spacing: 5px;


}
.Plot::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background-color: #0b2310;
    transition: width 0.4s ease-in-out;
    bottom: 0;
    left: 0;
            
        
}

.Plot:hover::after{
    width: 100%;
}





.MENU {
    position: fixed;
    top: 650px;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    margin-left:110px;

    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 8px 32px 0 rgba(97, 75, 59, 0.37);

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10);


    width: fit-content;
    border-radius: 50px;
    padding: 10px 45px;
    cursor: pointer;

      transition: transform 0.3s ease; 

    }
.MENU ul{
   width: 30px;
   height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MENU i{
    display: block;
    line-height: 1;
}




.MENU:hover{
        transform: translateY(-5px);

}
    


.name{
    position: absolute;
    top: 100px;
    left: 90px;
    
}

.name a{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #3b2e1b;

    
}

.title{
    text-align: left;
    font-size: 100px;
    margin-bottom: 20px;
    color: #56452e;
    font-family: 'Permanent Marker', coursive;
    margin-top: 20px;
    letter-spacing:5px;
}

.description{
    max-width: 480px; 
    text-align: justify;
    font-size: 15px;
    margin-bottom: 20px;
    color:#7c6443;
    font-weight: normal;
    
}

.burger {
    position: absolute;
    top: 150px;
    right: 150px;
    width: 490px;
}

.splash{
    z-index: -1;
    position: absolute;
    width: 900px;
    right: -0px;
    top: -130px;
    opacity: 90%;
}

.buttons{
    display: flex   ;
    position: relative;
    top: 450px;
    left:90px;
    gap: 95px;
}

.Order{
    background-color :transparent;

    font-size: 20px;
    padding: 15px 30px;
    border-radius: 50px;
    position: relative;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 8px 32px 0 rgba(97, 75, 59, 0.37);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10);
              transition: transform 0.3s ease; 

}

.Order:hover{
    background-color: #ffffff   ;
      transform: scale(1.1); 
      

}


.Donate{
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 50px;
     border: none;
      border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 8px 32px 0 rgba(97, 75, 59, 0.37);
        background-color :#0b2310;
        color: white;
            cursor: pointer;
                backdrop-filter: blur(10);
                        transition: transform 0.3s ease; 





}

.Donate:hover{
    background-color: #2c3a15   ;
      transform: scale(1.1); 

}





/*@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}*/

/*.Order::after, .Order::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), transparent 0%, blue );
    animation: 3s spin linear infinite;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 50px;
    padding: 3px;
    
}

.Order::before{
    filter: blur( 1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle:0deg;
    }

    to{
        --angle:360deg;
    }
}


*/



